
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "georgia";
}
body{
  margin: 0;
  padding: 0;
  background-image: url(https://cdn.wallpapersafari.com/84/68/hYG6yK.jpg);
  height: 100vh;
  overflow: hidden;
}
nav {
  top: 0;
  height: 100px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(67, 50, 50) ;
  flex-wrap: nowrap;
  border-bottom: 2px solid #b9a14f;
  z-index: 1;
}
.logo {
  width: 150px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 25px;
  float: left;
  position: sticky;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  transform: translate(-50%, -50%);
  width: 400px;
  background-image: url(Images/background.jpg);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(48, 32, 32);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  color: rgb(48, 32, 32);
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #6c6464;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #7c170c;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #551c1c;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #6c6464;
  cursor: pointer;
  float: right;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #0c6e21;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #0b450d;
  background-color: #551c1c;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
